.content-container
{
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    width: 950px;
    margin: 20px auto 20px auto;
}

.startpageheadline
{
    text-align: center;
}

.startpage-bulletpointbox
{
    padding: 20px 30px 20px 30px;
    margin-bottom: 70px;
}

.textboxheadline
{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.textbox-container
{
    position: relative;
    display: inline-flex;
    padding-top:20px;
    margin: auto;
    /*Denne laver linje skift ved for mange profiler på en linje*/
    flex-wrap: wrap;
}

.previewdatinguserbox
{
    position: relative;
    width: 280px;
    height: 180px;
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid;
    border-radius: 5px;
    margin: 11px;
}

.previewdatinguserpicture
{
    width: 120px;
    height: 160px;
    border: 2px solid #333;
    border-radius: 5px;
    margin: 8px;
}

.previewdatinguserinfo
{
    position: relative;
    display: inline-block;
}

a.previewdatinguserlink:link
{
    color: #333;
    text-decoration: none;
}

a.previewdatinguserlink:visited
{
    color: #333;
}

a.previewdatinguserlink:hover
{
    color: #FA6CA0;
}

/*---------------CHAT STYLING---------------*/

/*Styling af selve textarea besked boksen*/
.inputmessagebox
{
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #FAD4E2;
    border: 2px solid #333;
    border-radius: 5px;
    line-height: 40px;
    padding: 10px;
}

.inputmessage-container
{
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.message-container
{
    display: inline-block;
    float: right;
}

.viewmessage
{
    position: relative;
    float: right;
    width: 400px;
    /*height: 100px;*/
    background-color: #FAD4E2;
    border: 2px solid #333;
    border-radius: 5px;
    line-height: 40px;
    padding: 10px;
}


