.content-container
{
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}

.startpageheadline
{
    text-align: center;
}

.textbox-container
{
    position: relative;
    display: inline-flex;
    padding-top:20px;
    margin: auto;
}

.startpage-bulletpointbox
{
    padding: 20px 30px 20px 30px;
    margin-bottom: 70px;
}

.textboxheadline
{
    font-size: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.italic
{
    font-style: italic;
}