#viewprofile-container
{
    padding: 20px;
    width: 800px;
    margin: auto;
}

.viewprofileform
{
    background: rgba(255, 255, 255, 0.7);
    padding: 20px 30px 20px 30px;
    border: 2px solid #333;
    border-radius: 5px;
    height: 610px;
}

.viewprofileinfo
{
    position: relative;
    width: 100%;
    border: 2px solid #333;
    border-radius: 5px; /*For afrundede kanter på border*/
    line-height: 40px; /*For luft om bogstaver*/
    padding: 10px; /*For luft om bogstaver*/
}

.viewprofiledescription
{
    position: relative;
    width: 400px;
    height: 250px;
    background-color: #FAD4E2;
    border: 2px solid #333;
    border-radius: 5px; /*For afrundede kanter på border*/
    line-height: 40px; /*For luft om bogstaver*/
    padding: 10px; /*For luft om bogstaver*/
}

.viewprofiletags
{
    position: relative;
    width: 400px;
    height: 80px;
    margin-top: 26px;
    background-color: #FAD4E2;
    border: 2px solid #333;
    border-radius: 5px; /*For afrundede kanter på border*/
    line-height: 40px; /*For luft om bogstaver*/
    padding: 10px; /*For luft om bogstaver*/
}

.relativeinline
{
    position: relative;
    display: flex;
}

.profilepicture
{
    position: absolute;
    top: -60px;
    right: 0px;
    height: 320px;
    width: 240px;
}

.profilepictureimage
{
    border: 2px solid #333;
    border-radius: 5px;
    height: 320px;
    width: 240px;
}

.tagsbox
{
    position: relative;
    width: 100%;
    border-color: #333;
    border-radius: 5px; /*For afrundede kanter på border*/
    line-height: 40px; /*For luft om bogstaver*/
    padding-left: 10px; /*For luft om bogstaver*/
}

.favouriteuserbutton
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #FAD4E2;
    font-weight: bold;
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    padding: 10px 20px; /*MÅSKE FJERN*/
    text-decoration: none;
    /*margin: 4px 2px;*/
    margin: auto;
    cursor: pointer;

}

.favouriteuserbutton:hover
{
    background-color: #FA6CA0;
    border-color: #333;
}