<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log ud</title>
    <link rel="icon" href="https://i.imgur.com/LToUXOO.png" type="image/png"/>
    <meta charset="utf-8"/>
    <meta http-equiv = "refresh" content = "2; url = /logIn"/>

    <!-- css-filer -->
    <link href="/indexandloginpage.css" type="text/css" rel="stylesheet">
    <link href="/pagetemplate.css" type="text/css" rel="stylesheet">
    <link href="/formtemplate.css" type="text/css" rel="stylesheet">

    <!-- bootstraaaaap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap" rel="stylesheet">
    <!-- font-family: 'Bitter', sans-serif; -->

    <!--Icon-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<body>
<!--pagecontainer der tager footer med-->
<div class="pagecontainer">
    <!--content der inkapsler hele siden undtagen footer-->
    <div class="content">
        <div class="indexlogos">
            <div class="indexlogo">
                <img src="https://i.imgur.com/h8kGO5J.png" alt="/textLogo.png" class="indexlogo">
                <span>&nbsp; &nbsp; &nbsp;</span>
                <img src="https://i.imgur.com/LToUXOO.png" alt="/heartLogo.png" class="indexlogo">
            </div>
        </div>
        <br><br><br><br><br><br>

        <div class="row">
            <!-- Kolonne til inputfelt -->
            <div class="col">
                <div id="form-container">
                    <h1 class="formheadline">Logger ud, på gensyn!<br></h1>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>